<div class="wrapper">
    <div class="main-wrapper">
        <section class="section summary-section">
            <h2 class="section-title"><i class="fa fa-user"></i>{{'summary.label' | translate }}</h2>
            <p>
                {{'summary.detail' | translate}}
            </p>
        </section>
        <div class="resume">
            <div class="func">
                <div class="work">
                    <h3 style="color: #2980B9;"><i class="fa fa-briefcase"></i>{{ 'experience.label'  | translate }}
                    </h3>
                    <ul>
                        <li>{{ 'experience.comp_4.pos' | translate}}<small>{{ 'experience.comp_4.name' | translate}}</small>
                            <small> {{ 'experience.comp_4.duration' | translate}}</small></li>
                        <li>{{ 'experience.comp_3.pos' | translate}}<small>{{ 'experience.comp_3.name' | translate}}</small>
                            <small> {{ 'experience.comp_3.duration' | translate}}</small></li>
                        <li><span>{{ 'experience.comp_2.pos' | translate}}</span><small>{{ 'experience.comp_2.name' | translate}}</small>
                            <small>{{ 'experience.comp_2.duration' | translate}}</small></li>
                        <li><span>{{ 'experience.comp_1.pos' | translate}}</span><small>{{ 'experience.comp_1.name' | translate}}</small>
                            <small> {{ 'experience.comp_1.duration' | translate}}</small>
                        </li>
                    </ul>
                </div>
                <div class="edu">
                    <h3 style="color: #2980B9;"><i class="fa fa-graduation-cap"></i>EDUCATION</h3>
                    <ul>
                        <li>{{ 'education.degree.award' | translate}} 
                            <small>{{ 'education.degree.college_name' | translate}}</small><small>{{ 'education.degree.duration' | translate}}</small>
                        </li>
                        <li><span>{{ 'education.puc.award' | translate}} </span><small>{{ 'education.puc.college_name' | translate}} </small>
                            <small>{{ 'education.puc.duration' | translate}}</small></li>
                        <li><span>{{ 'education.school.award' | translate}}</span><small>{{ 'education.school.college_name' | translate}}</small>
                            <small>{{ 'education.school.duration' | translate}}</small></li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="section experiences-section">
            <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

            <div class="job-item">
                <div class="job-summary">
                    <div class="job-heading">
                        <div class="job-left">Senior Software Engineer</div>
                        <div class=""><a href="https://www.alten.com/country/india/" target="_blank">
                                Airbus-Alten India</a></div>
                    </div>
                </div>
                <div class="job-details">
                    <div class="job-subtitle">
                        Responsibilities
                    </div>
                    <ul class="job-list">
                        <li>
                            Designed and developed highly efficient software for electrical load calculation for
                            aircraft design architects.
                        </li>
                        <li>
                            Had an experience in configuring CI/CD pipeline for complete SDLC, right from code checkin
                            to build in open shift and deployable dockers.
                        </li>
                        <li>
                            Worked as full stack developer including database design.
                        </li>
                    </ul>
                    <div class="job-subtitle">
                        Projects
                    </div>
                    <ul class="job-list">
                        <li>
                            ADELA- Airbus Digital Electrical Load Analysis is a digital solution that enables Electrical
                            Design Office ,Customer Services to compute, analyze and deliver ELA to airlines.ELA is
                            mandatory for Aircraft delivery and certification.<a
                                href="https://www.airbus.com/">ADELA</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="job-item">
                <div class="job-summary">
                    <div class="job-heading">
                        <div class="job-left">Senior Software Engineer</div>
                        <div class=""><a href="https://www.scientificgames.com" target="_blank">
                                Scientific Games</a></div>
                    </div>
                </div>
                <div class="job-details">
                    <div class="job-subtitle">
                        Responsibilities
                    </div>
                    <ul class="job-list">
                        <li>
                            Coached developers in advanced topics such as asynchronous and parallel programming and
                            performance optimization of Entity Framework queries.
                        </li>
                        <li>
                            Managed 5 projects of maintenance and greenfield development.
                        </li>
                        <li>
                            Architected solutions for over 10 projects in mobile, desktop and web technologies.
                        </li>
                        <li>
                            Developed solutions using .NET and JavaScript technologies.
                        </li>
                    </ul>
                    <div class="job-subtitle">
                        Projects
                    </div>
                    <ul class="job-list">
                        <li>
                            Enterprise Data Controller (EDC) is a centralized casino management application which
                            acts as a master data creation and synchronization application which is used across all
                            Enterprise system products.<a href="http://www.alhgroup.com.au/">ALH</a><a
                                href="http://hanoihotel.com.vn/">Hanoi</a>
                        </li>
                        <li>
                            Site Controller (Insite) is a casino management application that helps manage a
                            property’s day-to-day operations involving player, slot, and inventory data,which can be
                            easily remotely installed and managed without any human intervention. It comes with an
                            ability to be functional in situations where connectivity to the Central Enterprise
                            Systems are lost.<a href="http://www.alhgroup.com.au/">ALH</a><a
                                href="http://hanoihotel.com.vn/">Hanoi</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="job-item">
                <div class="job-summary">
                    <div class="job-heading">
                        <div class="job-left">Software Engineer</div>
                        <div class=""><a href="https://www.techmahindra.com/" target="_blank">Tech Mahindra</a>
                        </div>
                    </div>
                </div>
                <div class="job-details">
                    <div class="job-subtitle">
                        Roles and Responsibilities
                    </div>
                    <ul class="job-list">
                        <li>I was trained in .NET technologies (C#,
                            ASP.NET,MS-SQL,WindowsForms,Javascript,jQuery,SAP EHS, technical support, etc).</li>
                        <li>Worked as a Windows and Web Application Developer.</li>
                        <li>Excelled in rapid application development and management of technological issues for
                            assigned projects, earning the highest customer satisfaction rating for all software
                            solutions delivered.</li>
                        <li>Known for excellent troubleshooting skills – able to analyze code and engineer
                            well-researched, cost-effective and responsive solutions.</li>
                    </ul>
                    <div class="job-subtitle">
                        Projects
                    </div>
                    <ul class="job-list">
                        <li>PriceChange and MarkDown(PCMD)-PCMD known as Price Change Mark Down, an application that
                            is used to increase the sales of the existing products by changing the current price or
                            mark down the current one<a href="http://www.mrpricegroup.com/">Mr.Price</a></li>
                        <li>Order Management and Transfer/Allocation is a Retail Management system where the
                            retailers are allowed to create, modify and link the orders, allocations and transfers<a
                                href="http://www.mrpricegroup.com/">Mr.Price</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="skills-section section">
            <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
            <div class="skillset">
                <div class="item">
                    <h3 class="level-title">C# &amp; .NET</h3>
                    <div class="rating rating-3"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">ASP.NET MVC,REST API</h3>
                    <div class="rating rating-3"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">Javascript</h3>
                    <div class="rating rating-3"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">HTML &amp; CSS</h3>
                    <div class="rating rating-3"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">Typescript</h3>
                    <div class="rating rating-2"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">Angular</h3>
                    <div class="rating rating-3"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">SQL</h3>
                    <div class="rating rating-3"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">Software Architecture</h3>
                    <div class="rating rating-3"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="sidebar-wrapper">
        <div class="profile-container">
            <h1 class="name">{{ 'name' | translate}}</h1>
            <h3 class="tagline">{{ 'current_position' | translate}}</h3>
        </div>
        <div class="container-block">
            <div class="language-selector">
                <form id="selectLanguage" method="post" class="form-horizontal" role="form"
                    action="file:///E:/website/Home%20-%20Syed%20Hameed.html">
                    <label class="text-center container-block-title" style="display: block;"
                        for="requestCulture_RequestCulture_UICulture_Name"><i class="fa fa-globe"></i>
                        {{ 'language_label' | translate}}</label>
                    <select name="culture" (change)="useLanguage($event.target.value)" class="form-control"
                        id="requestCulture_RequestCulture_UICulture_Name">
                        <option selected="selected" value="en">English</option>
                        <option value="hi">Hindi</option>
                        <option value="fr">French</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="container-block centerer">
            <a href="https://stackoverflow.com/users/6086968/hameed-syed"><img
                    src="https://stackoverflow.com/users/flair/6086968.png" width="208" height="58"
                    alt="profile for Hameed Syed at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
                    title="profile for Hameed Syed at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
        </div>
        <div class="container-block">
            <h2 class="container-block-title">{{ 'personal_label' | translate}}</h2>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-calendar"></i>{{birthdate|date: 'dd-MM-yyyy'}} ({{age}})
                </li>
                <li class="list-group-item"><i class="fa fa-globe"></i>{{ 'current_place' | translate}}</li>
            </ul>
        </div>
        <div class="contact-container container-block">
            <h2 class="container-block-title">{{ 'contact.label' | translate}}</h2>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-envelope"></i><a
                        href="mailto:kshameed7@gmail.com">kshameed7@gmail.com</a></li>
                <li class="list-group-item"><i class="fa fa-linkedin"></i><a
                        click="linksResolve('li')" target="_blank" rel="noopener">Linked
                        In</a></li>
                <li class="list-group-item"><i class="fa fa-github"></i><a href="https://github.com/hameedshk"
                        target="_blank" rel="noopener">GitHub</a></li>
                <li class="list-group-item"><i class="fa fa-stack-overflow"></i><a
                        href="https://stackoverflow.com/users/6086968/hameed-syed" target="_blank" rel="noopener">Stack
                        Overflow</a></li>
            </ul>
        </div>
        <div class="languages-container container-block">
            <h2 class="container-block-title">Languages</h2>
            <ul class="list-group">
                <li class="list-group-item">Hindi (Native)</li>
                <li class="list-group-item">English (Professional)</li>
            </ul>
        </div>

        <div class="interests-container container-block">
            <h2 class="container-block-title">Professional Interests</h2>
            <ul class="list-group">
                <li class="list-group-item">Research and Development</li>
                <li class="list-group-item">Learning Architecture solutions</li>
                <li class="list-group-item">Teaching and Philosophy</li>
            </ul>
        </div>

        <div class="interests-container container-block">
            <h2 class="container-block-title">Hobbies</h2>
            <ul class="list-group">
                <li class="list-group-item">Gaming</li>
                <li class="list-group-item">Cricket</li>
                <li class="list-group-item">Movies</li>
            </ul>
        </div>
    </div>
</div>