<div class="wrapper">
    <div class="main-wrapper">
        <section class="section summary-section">
            <h2 class="section-title"><i class="fa fa-user"></i>{{'summary.label' | translate }}</h2>
            <p>
                {{'summary.detail' | translate}}
            </p>
        </section>
        <div class="resume">
            <div class="func">
                <div class="work">
                    <h3 style="color: #2980B9;"><i class="fa fa-briefcase"></i>{{ 'experience.label'  | translate }}
                    </h3>
                    <ul>
                        <li><span>{{ 'experience.comp_curr.pos' | translate}}</span><small>{{ 'experience.comp_curr.name' | translate}}</small>
                            <small> {{ 'experience.comp_curr.duration' | translate}}</small>
                        </li>
                        <li>{{ 'experience.comp_4.pos' | translate}}<small>{{ 'experience.comp_4.name' | translate}}</small>
                            <small> {{ 'experience.comp_4.duration' | translate}}</small></li>
                        <li>{{ 'experience.comp_3.pos' | translate}}<small>{{ 'experience.comp_3.name' | translate}}</small>
                            <small> {{ 'experience.comp_3.duration' | translate}}</small></li>
                        <li><span>{{ 'experience.comp_2.pos' | translate}}</span><small>{{ 'experience.comp_2.name' | translate}}</small>
                            <small>{{ 'experience.comp_2.duration' | translate}}</small></li>
                        <li><span>{{ 'experience.comp_1.pos' | translate}}</span><small>{{ 'experience.comp_1.name' | translate}}</small>
                            <small> {{ 'experience.comp_1.duration' | translate}}</small>
                        </li>                        
                    </ul>
                </div>
                <div class="edu">
                    <h3 style="color: #2980B9;"><i class="fa fa-graduation-cap"></i>{{ 'label.education' | translate}}
                    </h3>
                    <ul>
                        <li>{{ 'education.degree.award' | translate}}
                            <small>{{ 'education.degree.college_name' | translate}}</small><small>{{ 'education.degree.duration' | translate}}</small>
                        </li>
                        <li><span>{{ 'education.puc.award' | translate}}
                            </span><small>{{ 'education.puc.college_name' | translate}} </small>
                            <small>{{ 'education.puc.duration' | translate}}</small></li>
                        <li><span>{{ 'education.school.award' | translate}}</span><small>{{ 'education.school.college_name' | translate}}</small>
                            <small>{{ 'education.school.duration' | translate}}</small></li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="section experiences-section">
            <h2 class="section-title"><i class="fa fa-briefcase"></i>{{ 'label.experiences' | translate}}</h2>

            <div class="job-item">
                <div class="job-summary">
                    <div class="job-heading">
                        <div class="job-left">{{ 'label.senior_soft_engin' | translate}}</div>
                        <div class=""><a href="https://www.airbus.com/en" target="_blank">
                                Airbus</a></div>
                    </div>
                </div>
                <div class="job-details">
                    <!-- <div class="job-subtitle">
                        {{ 'label.respons' | translate}}
                    </div> -->
                    <ul class="job-list">
                        <li>{{'airbus_se.roles_response.a' | translate}}</li>
                        <li>{{'airbus_se.roles_response.b' | translate}}</li>
                        <li>{{'airbus_se.roles_response.c' | translate}}</li>
                    </ul>
                    <div class="job-subtitle">
                        {{ 'label.projects' | translate}}
                    </div>
                    <ul class="job-list">
                        <li>{{'airbus_se.projects.a' | translate}}</li>
                    </ul>
                </div>
            </div>


            <div class="job-item">
                <div class="job-summary">
                    <div class="job-heading">
                        <div class="job-left">{{ 'label.senior_soft_engin' | translate}}</div>
                        <div class=""><a href="https://www.alten.com/country/india/" target="_blank">
                                Alten India(Airbus)</a></div>
                    </div>
                </div>
                <div class="job-details">
                    <!-- <div class="job-subtitle">
                        {{ 'label.respons' | translate}}
                    </div> -->
                    <ul class="job-list">
                        <li>{{'alten.roles_response.a' | translate}}</li>
                        <li>{{'alten.roles_response.b' | translate}}</li>
                        <li>{{'alten.roles_response.c' | translate}}</li>
                    </ul>
                    <div class="job-subtitle">
                        {{ 'label.projects' | translate}}
                    </div>
                    <ul class="job-list">
                        <li>{{'alten.projects.a' | translate}}</li>
                    </ul>
                </div>
            </div>

            <div class="job-item">
                <div class="job-summary">
                    <div class="job-heading">
                        <div class="job-left">{{ 'label.senior_soft_engin' | translate}}</div>
                        <div class=""><a href="https://www.scientificgames.com" target="_blank">
                                Scientific Games</a></div>
                    </div>
                </div>
                <div class="job-details">
                    <!-- <div class="job-subtitle">
                        {{ 'label.respons' | translate}}
                    </div> -->
                    <ul class="job-list">
                        <li>{{'scientificgames.roles_response.a' | translate}}</li>
                        <li>{{'scientificgames.roles_response.b' | translate}}</li>
                        <li>{{'scientificgames.roles_response.c' | translate}}</li>
                        <li>{{'scientificgames.roles_response.d' | translate}}</li>
                    </ul>
                    <div class="job-subtitle">
                        {{ 'label.projects' | translate}}
                    </div>
                    <ul class="job-list">
                        <li>{{'scientificgames.projects.a' | translate}}</li>
                        <li>{{'scientificgames.projects.b' | translate}}</li>
                        <!-- <li>
                            Enterprise Data Controller (EDC) is a centralized casino management application which
                            acts as a master data creation and synchronization application which is used across all
                            Enterprise system products.<a href="http://www.alhgroup.com.au/">ALH</a><a
                                href="http://hanoihotel.com.vn/">Hanoi</a>
                        </li>
                        <li>
                            Site Controller (Insite) is a casino management application that helps manage a
                            property’s day-to-day operations involving player, slot, and inventory data,which can be
                            easily remotely installed and managed without any human intervention. It comes with an
                            ability to be functional in situations where connectivity to the Central Enterprise
                            Systems are lost.<a href="http://www.alhgroup.com.au/">ALH</a><a
                                href="http://hanoihotel.com.vn/">Hanoi</a>
                        </li> -->
                    </ul>
                </div>
            </div>

            <div class="job-item">
                <div class="job-summary">
                    <div class="job-heading">
                        <div class="job-left">{{ 'label.soft_engin' | translate}}</div>
                        <div class=""><a href="https://www.techmahindra.com/" target="_blank">Tech Mahindra</a>
                        </div>
                    </div>
                </div>
                <div class="job-details">
                    <!-- <div class="job-subtitle">
                        {{ 'label.respons' | translate}}
                    </div> -->
                    <ul class="job-list">
                        <li>{{'techmahindra.roles_response.a' | translate}}</li>
                        <li>{{'techmahindra.roles_response.b' | translate}}</li>
                        <li>{{'techmahindra.roles_response.c' | translate}}</li>
                        <li>{{'techmahindra.roles_response.d' | translate}}</li>
                    </ul>
                    <div class="job-subtitle">
                        {{ 'label.projects' | translate}}
                    </div>
                    <ul class="job-list">
                        <li>{{'techmahindra.projects.a' | translate}}</li>
                        <li>{{'techmahindra.projects.b' | translate}}</li>
                        <!-- <li>PriceChange and MarkDown(PCMD)-PCMD known as Price Change Mark Down, an application that
                            is used to increase the sales of the existing products by changing the current price or
                            mark down the current one<a href="http://www.mrpricegroup.com/">Mr.Price</a></li> -->
                        <!-- <li>Order Management and Transfer/Allocation is a Retail Management system where the
                            retailers are allowed to create, modify and link the orders, allocations and transfers<a
                                href="http://www.mrpricegroup.com/">Mr.Price</a></li> -->
                    </ul>
                </div>
            </div>
        </section>
<br/>
        <section class="skills-section section">
            <h2 class="section-title"><i class="fa fa-rocket"></i>{{ 'label.skill_profic' | translate}}</h2>
            <div class="skillset">
                <div class="item">
                    <h3 class="level-title">Product Management</h3>
                    <div class="rating rating-3"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">Agile  &amp; Scrum methodologies</h3>
                    <div class="rating rating-4"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">Service Delivery</h3>
                    <div class="rating rating-3"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">C# &amp; .NET</h3>
                    <div class="rating rating-4"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">ASP.NET MVC,REST API</h3>
                    <div class="rating rating-3"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">Javascript</h3>
                    <div class="rating rating-3"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">HTML &amp; CSS</h3>
                    <div class="rating rating-3"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">DevOps/Openshift/Kubernetes</h3>
                    <div class="rating rating-3"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">Angular/Typescript</h3>
                    <div class="rating rating-3"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">SQL</h3>
                    <div class="rating rating-3"></div>
                </div>
                <div class="item">
                    <h3 class="level-title">Software Architecture/Design Pricnciples</h3>
                    <div class="rating rating-3"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="sidebar-wrapper">
        <div class="profile-container">
            <h1 class="name">{{ 'name' | translate}}</h1>
            <h3 class="tagline">{{ 'current_position' | translate}}</h3>
        </div>
        <div class="container-block">
            <div class="language-selector">
                <form id="selectLanguage" method="post" class="form-horizontal" role="form"
                    action="file:///E:/website/Home%20-%20Syed%20Hameed.html">
                    <label class="text-center container-block-title" style="display: block;"
                        for="requestCulture_RequestCulture_UICulture_Name"><i class="fa fa-globe"></i>
                        {{ 'language_label' | translate}}</label>
                    <select name="culture" (change)="useLanguage($any($event).target.value)" class="form-control"
                        id="requestCulture_RequestCulture_UICulture_Name">
                        <option selected="selected" value="en">English</option>
                        <option value="hi">Hindi</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="container-block centerer">
            <a href="https://stackoverflow.com/users/6086968/hameed-syed"><img
                    src="https://stackoverflow.com/users/flair/6086968.png" width="208" height="58"
                    alt="profile for Hameed Syed at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
                    title="profile for Hameed Syed at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
        </div>
        <div class="container-block">
            <h2 class="container-block-title">{{ 'personal_label' | translate}}</h2>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-calendar"></i>{{birthdate|date: 'dd-MM-yyyy'}} ({{age}})
                </li>
                <li class="list-group-item"><i class="fa fa-globe"></i>{{ 'current_place' | translate}}</li>
            </ul>
        </div>
        <div class="contact-container container-block">
            <h2 class="container-block-title">{{ 'contact.label' | translate}}</h2>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-envelope"></i>
                    <a href="mailto:kshameed7@gmail.com">{{ 'contact.emailid' | translate}}</a></li>
                <li class="list-group-item"><i class="fa fa-linkedin"></i>
                    <a href="https://www.linkedin.com/in/syedhameed/" target="_blank"
                        rel="noopener">{{ 'contact.label_linkedin' | translate}}</a></li>
                <li class="list-group-item"><i class="fa fa-github"></i><a href="https://github.com/hameedshk"
                        target="_blank" rel="noopener">{{ 'contact.label_github' | translate}}</a></li>
                <li class="list-group-item"><i class="fa fa-stack-overflow"></i><a
                        href="https://stackoverflow.com/users/6086968/hameed-syed" target="_blank"
                        rel="noopener">{{ 'contact.label_stackoverflow' | translate}}</a></li>
            </ul>
        </div>
        <div class="languages-container container-block">
            <h2 class="container-block-title">{{ 'contact.languages_label' | translate}}</h2>
            <ul class="list-group">
                <li class="list-group-item">{{ 'label.hi_label' | translate}} ({{ 'label.native_label' | translate}})
                </li>
                <li class="list-group-item">{{ 'label.en_label' | translate}}
                    ({{ 'label.professional_label' | translate}})</li>
            </ul>
        </div>

        <div class="interests-container container-block">
            <h2 class="container-block-title">{{ 'label.proffesional_interest' | translate}} </h2>
            <ul class="list-group">
                <li class="list-group-item">{{ 'label.RandD' | translate}}</li>
                <li class="list-group-item">{{ 'label.LA' | translate}}</li>
                <li class="list-group-item">{{ 'label.TP' | translate}}</li>
            </ul>
        </div>

        <div class="interests-container container-block">
            <h2 class="container-block-title">{{ 'label.hobbies' | translate}}</h2>
            <ul class="list-group">
                <li class="list-group-item">{{ 'label.gaming' | translate}}</li>
                <li class="list-group-item">{{ 'label.cricket' | translate}}</li>
                <li class="list-group-item">{{ 'label.movies' | translate}}</li>
            </ul>
        </div>
    </div>
</div>